nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    background: linear-gradient(#7e22ce, #6b21a8, #581c87);
    position: fixed;
    

}

button {
    height: 100%;
    width: 90px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #d1d5db;

    &:hover {
        background: #3b0764;
    }
}